#cvs {
    height: 100%;
    background-color:#000;
    background-image: url('bg.png')
}
html,body {
    height: 100%;
    padding: 0;
    margin: 0;
}
.status-bar{
    position: absolute;
    left: 0px; 
    bottom: 0px;
    z-index: 2; 
    pointer-events: initial; 
    padding: 5px 0;
    height: 80px;
    width: 100%; 
    color: #fff;
    background-color: rgba(0, 0, 0, 0.3);
    border-top: 0.2px solid #eee;
}
.status-bar>div{
    display: inline-block;
    width:25%;
    text-align: center;
    white-space: normal
}
.status-bar>div span{
    display: inline-block;
    height: 20px;
    margin: 5px auto;
    padding: 5px 15px;
    background-color: rgba(9, 9, 10, 0.6);
    border-radius: 3px;
    border: #aaa solid 0.1px;
}