:global(#file-input){
    height: 100%;
}
:global(.input-box){
    text-align: center;
    margin-top: 25%;
}
:global(#file){
    display: none;
}
:global(#file-input-tips){
    font-size: 16px;
    font-weight: bolder;
    display: inline-block;
    height: 3em;
    line-height: 3em;
    background-color: deeppink;
    color: #fff;
    padding: 0 1.5em;
    border-radius: 5px;
    
}
:global(#file-input-tips:hover){
    background-color:rgba(255, 25, 155,0.8);
}
:global(#esc){
    font-size: 12px;
    position: absolute;
    width: 8em;
    height: 2em;
    line-height: 2em;
    text-align: center;
    top: 0.5em;
    right: 0.5em;
    z-index: 99;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
}
html,body {
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden
}