.crop_status_bar {
    left: 0px;
    font-size: 0;
    bottom: 0px;
    width: 100%;
    padding: 5px 0;
    color: #fff;
    border-top: 0.2px solid #666;
    background-color: rgba(19, 19, 19, 0.6);
}

.crop_tool_item {
    display: inline-block;
    padding: 4px 12px;
    font-size: 14px;
    background-color: rgba(11, 11, 11, 0.6);
    border-radius: 3px;
}

.crop_tool_item_box {
    display: inline-block;
    width: 25%;
    text-align: center;
    white-space: normal
}

.crop_container {
    position: absolute;
    height: 0;
    top: 0;
    left: 0;
    width: 100%;
    background-color:#000;
    background-image: inline('./bg.png');
    transition: 0.3s height;
    overflow: hidden;
    z-index: 999
}

.crop_full {
    height: 100%;
}